# Ignore dependencies
node_modules/
api/node_modules/
app/node_modules/
server/node_modules/

# Ignore environment files
.env
.env.local
env.*.local
api/.env
app/.env
server/.env

# Ignore build outputs
.next/
app/.next/
dist/
api/dist/
server/dist/
